<div class="tw-mt-auto">
  <bit-nav-item
    *ngFor="let product of accessibleProducts$ | async"
    [icon]="product.icon"
    [text]="product.name"
    [route]="product.appRoute"
    class="tw-group"
  >
    <ng-container slot="end">
      <span class="tw-text-xxs tw-hidden group-hover:tw-block group-focus:tw-block"> Switch </span>
    </ng-container>
  </bit-nav-item>
  <section
    *ngIf="((moreProducts$ | async) ?? []).length > 0"
    class="tw-mt-2 tw-flex tw-w-full tw-flex-col tw-gap-2 tw-border-0 tw-border-t tw-border-solid tw-border-t-text-alt2"
  >
    <span class="tw-text-xs !tw-text-alt2 tw-p-2 tw-pb-0">{{ "moreFromBitwarden" | i18n }}</span>
    <a
      *ngFor="let more of moreProducts$ | async"
      [href]="more.marketingRoute"
      target="_blank"
      rel="noreferrer"
      class="tw-flex tw-py-2 tw-px-4 tw-font-semibold !tw-text-alt2 !tw-no-underline hover:tw-bg-primary-300/60 [&>:not(.bwi)]:hover:tw-underline"
    >
      <i class="bwi bwi-fw {{ more.icon }} tw-mt-1"></i>
      <div>
        {{ more.navigationUIDetails?.name ?? more.name }}
        <div *ngIf="more.navigationUIDetails?.supportingText" class="tw-text-xs tw-font-normal">
          {{ more.navigationUIDetails.supportingText }}
        </div>
      </div>
    </a>
  </section>
</div>
